
/* Slide out navigation */
#nav {
	position: absolute;
	top: 0;
	right: 0;
	width: 20%;
	height: 100%;
	z-index: 3;
	overflow: auto;
	background: rgba(255, 255, 255, 0.8);

	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;

	-ms-transform: translate(100%, 0); /* IE 9 */
   	-webkit-transform: translate(100%, 0); /* Safari */
    transform: translate(100%, 0);

    &.nav-open{
    	-ms-transform: translate(0%, 0) !important; /* IE 9 */
	   	-webkit-transform: translate(0%, 0) !important; /* Safari */
	    transform: translate(0%, 0) !important;
    }

    #heure{
		background: rgba(46, 143, 176, 0.6);

		p{
			color: white;
			font-size: 70px;
			text-align: center;
			padding: 40px 0;
			font-weight: 100;
		}
    }

    #edt{
		padding: 20px;
		font-weight: 400;

		h1{
			text-transform: uppercase;
			font-size: 22px;
			text-align: center;
			font-weight: 400;
			margin-bottom: 40px;

			&:after{
				content:"";
				display: block;
				height: 2px;
				width: 20px;
				background-color: black;
				margin: 10px auto;

			}
		}

		.slider_edt{
			position: relative;
			overflow: auto;
			width: 100%;

			ul{

				>li {
					list-style: none;
					float: left;
					width: 100%;

					>ul{

						>li{
							padding: 12px 0;
						}
					}

					h2{
						font-size: 20px;
						margin-bottom: 20px;
						border-bottom: 1px solid black;
						padding-bottom: 4px;
					}

				}

			}

		}




    }
}
