// On défini les variables

// Couleurs
$primary-color: #fff;
$secondary-color: #fff;
$third-color: #fff;
$text-color: #fff;

// Polices
$text-font: 400 16px 'Open Sans', Arial;


// Mixins
@mixin bg_cover(){

	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size: cover; /* version standardisÃ©e */
}

@mixin transition_all($time){

	-webkit-transition: all $time;
	-moz-transition: all $time;
	transition: all $time;
}



// Import du reset CSS
@import 'reset';


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.clearfix {
  *zoom: 1;
}
