*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/scripts/boxsizing.htc); }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a li {
  color: inherit; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    color: inherit; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.clearfix {
  *zoom: 1; }

html, body {
  height: 100vh; }

body {
  position: relative;
  overflow: hidden;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400; }

.container {
  width: 90%;
  margin: 0 auto; }

#main-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 1; }
  #main-container img {
    width: 100%; }
  #main-container #player {
    width: 100vw;
    height: 100vh;
    z-index: 1; }
    #main-container #player iframe {
      width: 100vw;
      height: 100vh; }
  #main-container > div {
    z-index: 2;
    position: absolute; }
  #main-container #logo {
    top: 0;
    left: 0;
    width: 15%; }
    #main-container #logo img {
      width: 100%; }
  #main-container #bandeau_tweets {
    width: 100vw;
    padding: 15px 0;
    bottom: 0;
    background-color: rgba(60, 190, 107, 0.6); }
    #main-container #bandeau_tweets .slider_tweets {
      position: relative;
      overflow: auto; }
      #main-container #bandeau_tweets .slider_tweets li {
        list-style: none;
        float: left; }
        #main-container #bandeau_tweets .slider_tweets li p {
          color: white;
          font-size: 18px; }
  #main-container #synthe {
    bottom: 90px;
    left: 45px; }
    #main-container #synthe div {
      display: inline-block; }
      #main-container #synthe div p {
        font-size: 23px;
        padding: 15px;
        text-transform: uppercase;
        letter-spacing: -2px; }
    #main-container #synthe #left {
      background-color: rgba(113, 213, 84, 0.8); }
      #main-container #synthe #left p {
        color: white; }
    #main-container #synthe #right {
      background-color: white;
      font-weight: 300; }

/* Slide out navigation */
#nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  z-index: 3;
  overflow: auto;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
  -ms-transform: translate(100%, 0);
  /* IE 9 */
  -webkit-transform: translate(100%, 0);
  /* Safari */
  transform: translate(100%, 0); }
  #nav.nav-open {
    -ms-transform: translate(0%, 0) !important;
    /* IE 9 */
    -webkit-transform: translate(0%, 0) !important;
    /* Safari */
    transform: translate(0%, 0) !important; }
  #nav #heure {
    background: rgba(60, 137, 190, 0.7); }
    #nav #heure p {
      color: white;
      font-size: 70px;
      text-align: center;
      padding: 40px 0;
      font-weight: 100; }
  #nav #edt {
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    padding: 20px;
    font-weight: 400; }
    #nav #edt h1 {
      text-transform: uppercase;
      font-size: 22px;
      text-align: center;
      font-weight: 400;
      margin-bottom: 40px; }
      #nav #edt h1:after {
        content: "";
        display: block;
        height: 2px;
        width: 20px;
        background-color: black;
        margin: 10px auto; }
    #nav #edt .slider_edt {
      position: relative;
      overflow: auto;
      width: 100%; }
      #nav #edt .slider_edt ul > li {
        list-style: none;
        float: left;
        width: 100%; }
        #nav #edt .slider_edt ul > li > ul > li {
          padding: 12px 0; }
        #nav #edt .slider_edt ul > li h2 {
          font-size: 20px;
          margin-bottom: 20px;
          border-bottom: 1px solid black;
          padding-bottom: 4px; }

/*# sourceMappingURL=style.css.map */
