// On défini les variables

// Couleurs
$primary-color: #2e8fb0;
$secondary-color: #fff;
$third-color: #fff;
$text-color: #fff;

// Polices
$text-font: 400 16px 'Open Sans', Arial;


// Mixins
@mixin bg_cover(){

	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size: cover; /* version standardisÃ©e */
}

@mixin transition($property, $time){

	-webkit-transition: $property $time;
	-moz-transition: $property $time;
	transition: $property $time;
}



// Import du reset CSS
@import 'reset';
@import 'mediaqueries';
@import 'general';
@import 'nav';



