/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/*
!/vendor/friendsofsymfony/user-bundle/Resources/views/Security/login.html.twig
!/vendor/friendsofsymfony/user-bundle/Resources/views/Profile/show.html.twig
!/vendor/friendsofsymfony/user-bundle/Resources/views/Registration/register.html.twig
!/vendor/friendsofsymfony/user-bundle/Resources/views/ChangePassword/changePassword.html.twig
/web/bundles/
