input, textarea, select{
  width: 100%;
  border: solid 1px gray;
  padding: 10px;
  margin: 10px 0;
  color: gray;
  font: $font-button;
  font-size: 20px;

  &:focus{
    border: solid 1px $primary-color;
    color: $primary-color;
  }

}


input[type=submit]{
  background-color: $primary-color;
  color: white;
  width: 100%;
  text-transform: uppercase;
  font: $font-button;
  font-size: 16px;
  padding: 10px;
  margin-top: 30px;

  &:hover{

    background-color: $primary-color +10;
  }

}


textarea{

  min-width: 100%;
  max-width: 100%;
}

label{
  
  font:$font-button;
  text-transform: uppercase;
}

select{
  
  option{

  }
}



// Bouton select personnalisé
// Seulement les navigateurs qui supportent les options entre parenthèses
@supports (pointer-events: none) and
      ((-webkit-appearance: none) or
      (-moz-appearance: none) or
      (appearance: none)) {

    .custom-dropdown {
        position: relative;
        display: inline-block;
        vertical-align: middle;

    }
 
    .custom-dropdown__select {
        
        border-radius: 0 3px 3px 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;    
        border: 1px solid gray;
            background-color: white;

    }

    .custom-dropdown::before,
    .custom-dropdown::after {
        content: "";
        position: absolute;
        pointer-events: none;
    }

    .custom-dropdown::after { /*  Custom dropdown arrow */
        content: "\25BC";
        height: 1em;
        font-size: .625em;
        line-height: 1;
        right: 1.2em;
        top: 50%; margin-top: -.5em;
    }

    .custom-dropdown::before { /*  Custom dropdown arrow cover */
        width: 2em;
        right: 0; top: 0; bottom: 0;
        border-radius: 0 3px 3px 0;
        top: .7em; bottom: .7em;
        background-color: $primary-color;
    }



    /* FF only temp fix */
    @-moz-document url-prefix() {
        .custom-dropdown__select              { padding-right: .9em }
        .custom-dropdown--large .custom-dropdown__select { padding-right: 1.3em }
        .custom-dropdown--small .custom-dropdown__select { padding-right: .5em }
    }
}


