@import 'reset';



$primary-color: #2e8fb0; //Couleur principale: le bleu
$secondary-color: #f5f5f5; // Couleur secondaire: le gris clair
$font-color: #323232; // COuleur de police: gris foncé
$secondary-font-color: #a5a4a4; //Couleur de police plus claire : gris mi-clair

$font-title-ban: 300 40px "Roboto", Serif; //Police des titres
$font-title: 300 24px "Roboto", Serif; //Police des titres
$font-subtitle: 300 18px "Roboto", Serif; //Police des titres
$font-text: 300 16px Roboto, Arial; //Police du texte
$font-button: 700 14px Roboto; //Police du bouton
$font-nav: 300 16px Roboto;


@mixin bg_cover(){

    -webkit-background-size: cover; /* pour Chrome et Safari */
    -moz-background-size: cover; /* pour Firefox */
    -o-background-size: cover; /* pour Opera */
    background-size: cover; /* version standardisÃ©e */
}


@mixin transition_all($time){

    -webkit-transition: all $time;
    -moz-transition: all $time;
    transition: all $time;
}




body{

    font: $font-text;
}

section{

    article{

        border: 1px solid $primary-color;
        padding: 15px;
        margin: 20px 0;
    }
}

a{
    color:$primary-color;
    text-decoration:none;

    &:hover{
        color: black;
    }
}

p a{
    text-decoration: underline;
}
header a, nav a{
    color: white;
}

i{
    margin-bottom: 6px;
}


h1{

    text-align: center;
    font: $font-title;
    color: inherit;
    text-transform: uppercase;
    margin-bottom: 10px;

    span{
        font-weight: 400;
    }
}


h2{

    color: $primary-color;
    text-transform: uppercase;
    font-weight: bold;
}

article h2:first-child{
    font-weight: bold;
}

h3{
    color: gray;
    font-style: italic;
    font-size: 14px;
}

strong{
    font-weight: bold;
}

em{
    font-style: italic;
}

blockquote{

    text-align : center;
    font: 22px Serif;
    font-style : italic;
}


img{

    width: 30%;
    margin: auto;
}
article img{
    width: 100%;
    height: auto;
}

h1 a, h2 a{
    color: inherit;
    font-weight: inherit
}
time{

    font-family: 'Source Sans Pro';
    font-style: italic;
    display: block;
    margin-bottom: 20px;
    color: gray;
}

table{

    width: 100%;
    margin-top: 40px;
    border-collapse: collapse;

    thead, tfoot{
        font-weight: bold;
    }


    tr{

        td{
            text-align: center;
            padding: 10px;
            border: 1px solid gray;

                img{

                }
        }
    }
}


form{
    margin: 80px 0;

}




.bouton{

    a{
        color: $primary-color;
        text-transform: uppercase;
        padding: 6px 12px;
        border: 2px solid $primary-color;
        display: block;
        text-align: center;
        margin-bottom: 20px;

        @include transition_all(0.2s);

        &:hover{
            background-color: $primary-color;
            color: white;
        }
    }
}

.bouton_rouge{

    a{
        color: #b72b00;
        text-transform: uppercase;
        padding: 6px 12px;
        border: 2px solid #b72b00;
        display: block;
        text-align: center;
        margin-bottom: 50px;

        @include transition_all(0.2s);

        &:hover{
            background-color: #b72b00;
            color: white;
        }
    }
}

.bloc_back{

    background-color: $secondary-color;
    padding: 20px;
}

.in_bloc_back{

    background-color: $secondary-color;
    padding: 15px;
    display: inline-block;
    width: 30%;
    margin-right: 3%;
    margin-bottom: 20px;
}


.mini_bloc_back{

    background-color: $secondary-color;
    padding: 5px;
    display: inline-block;
    width: 10%;
    margin-right: 2%;
    margin-bottom: 20px;
    text-align: center;

    &:hover{
        cursor: move;
    }
}

.tableau_fill{
    background-color: #e0f7ff;
}


/*
*********************** HEADER *******************
 */

header{
    height:70px;
    background: $font-color;
}
.logo{
    float:left;
    width:230px;
    height:70px;

    background: $font-color +20;
    color:#FFF;

    line-height:70px;
    text-align:center;
}
.header-content{
    overflow:hidden;

    height:70px;
    line-height:70px;
}

.logo p{
    display:inline-block;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 40px;
    letter-spacing: -4px;
    vertical-align:top;
}
.breadcrumb{
    display:inline-block;
    vertical-align:top;

    color:#FFF;
    width:50%;
}
.br-content{margin-left:20px;}
.breadcrumb span{display: inline-block;}
.breadcrumb .home{
    font-family:Open Sans;
    font-weight:600;
}



/*
****************** NAVIGATION *************************
 */

.nav{
    position:absolute;
    top:70px;
    left:0;
    bottom:0px;
    width:230px;
    background: url(../images/bg-admin.jpg) no-repeat center;
    @include bg_cover();
    // background:#272930;
}
.nav .menu a i, .nav .submenu a i{
    font-size:16px;
}
/*mofif*/
.nav .menu a, .nav .submenu a{
    display:block;
    height:40px;
    line-height:40px;
    color:rgba(255, 255, 255, 0.9);
    padding-left:30px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    border-top:1px solid rgba(50,53,62,0.2);
    font-size:14px;
}
/*.nav .menu-text{
    position:absolute;
    top:0;
    right:0;
    left:0;
    height:40px;
    line-height:40px;
    padding-left:50px;
}*/
/*fin moddif*/
.nav .menu a:hover, .nav .submenu a:hover{
    background:rgba(42,44,52,0.1);
    border-right:3px solid $primary-color +100;
}
.submenu .right{float:right;padding-right:15px;}
.sub-content{
    background:rgba(42,44,52,0.3);
}
.submenu .sub-content a{border:inherit;height:30px;line-height:30px;}
.submenu .sub-content a:hover{border:inherit;}


.hide{
    display:none;
}
.show{display:block;}




.content{
    position:absolute;
    top:70px;
    right:0;
    left:230px;
    padding:30px;
    z-index:1;
    bottom:0px;
    overflow:auto;
}
.content p{margin:30px 0;}

#search-close{
    display:none;
}

.nav-button-responsive{ display:none;}

@media only screen and (max-width: 1024px) {
    .nav{
        width:60px;
    }

    .nav span{display:none;}

   /* .nav i{display:inline-block;}*/

    .nav .submenu a, .nav .menu a{
        padding-left:0;
        text-align:center;
    }
    .nav .ion-chevron-right{font-size:10px !important;}
    .logo{
        width:60px;
    }
    .logo p{
        display:none;
    }
    .content{
        left:60px;
    }
    .search-form{
        width:auto;
    }
    .breadcrumb{
        width:auto;
    }
    .header-content{
        text-align:right;
        padding-right:20px;
    }

    .footer .company{
        display:none;
    }
    .footer .link{
        display:block;
        text-align:center;
    }
}
@media (max-width: 1024px) and (min-width: 768px)  {
    .sub-content{
        position:absolute;
        left:60px;
        width:200px;
        margin-top:-43px;
        z-index:2;
    }
    .search-input{display:none;}
    .search-input.responsive{
        display:initial;
        width:auto;
    }
    #search-close.responsive{
        display:initial;
    }

    .in_bloc_back{

        width: 100%;

    }
}
@media only screen and (max-width: 768px) {
    .in_bloc_back{

        width: 100%;

    }
    .nav{
        top:110px;
        right:0;
        left:0;
        bottom:0;
        width:auto;
        z-index:4;
    }
    .nav span{display:initial;}
    .nav-button-responsive{
        position:absolute;
        top:70px;
        left:0;
        right:0;
        z-index:3;

        cursor:pointer;

        background:#272930;

        display:block;
        color:#FFF;
        text-align:center;
        height:40px;
        line-height:40px;
    }
    .content{
        top:110px;
        left:0;
        bottom:0;
    }
    .breadcrumb{
        display:none;
    }
    .search-form{
        display:none;
    }
    .topmenu{
        top:70px;
        right:0;
        left:0;
        bottom:0;
        border-radius:0px;
        width:100%;
        text-align:center;
        background:#272930;
        z-index:5;
    }
    .footer{display:none;}


// Mise en forme des blocs du DASHBOARD


.dashboard-bloc{

    display: inline-block;
    width: 80%;
    margin: 20px auto;
    vertical-align: text-top;
    background-color: white;
    border: 1px solid $primary-color;

    p{
        margin:0 !important;
        padding: 15px;

        .number{

            font: $font-button;
            color: $primary-color;
            font-size: 34px;
        }
    }

    .top{
        color: white;
        text-align: left;
        text-transform: uppercase;
        background-color: $primary-color;
        font: $font-button;
    }
}


}



@import 'glyphicons';
@import 'formulaires';
@import 'fosuser';
