{% extends 'MmitvBackBundle::base.html.twig' %}

{% block main %}






            <h1>Planning de diffusion</h1>

			<p>
				Choisissez ici les dates et horaires de diffusion des vidéos. Glissez les vidéos ci-dessous sur l'endroit souhaité sur le planning.
			</p>

			<div class="mini_bloc_back">
				<h2>Titre vidéo</h2>
			</div>

			<div class="mini_bloc_back">
				<h2>Titre vidéo</h2>
			</div>

			<div class="mini_bloc_back">
				<h2>Titre vidéo</h2>
			</div>

			<div class="mini_bloc_back">
				<h2>Titre vidéo</h2>
			</div>

			<div class="mini_bloc_back">
				<h2>Titre vidéo</h2>
			</div>

			<div class="mini_bloc_back">
				<h2>Titre vidéo</h2>
			</div>

			<div class="mini_bloc_back">
				<h2>Titre vidéo</h2>
			</div>

			<div class="mini_bloc_back">
				<h2>Titre vidéo</h2>
			</div>

			<div class="mini_bloc_back">
				<h2>Titre vidéo</h2>
			</div>

			<div class="mini_bloc_back">
				<h2>Titre vidéo</h2>
			</div>

			<form action="">
				<label for="semaine">Choisissez une semaine</label>
				<select id="semaine">
		           <option value="1">23 au 27 mars</option>
		           <option value="2">30 mars au 3 avril</option>
		           <option value="3">6 au 10 avril</option>
		           <option value="4-uni">13 au 17 avril</option>
		       </select>
			</form>


			<table>
				<tr>
					<td></td>
					<td>Lundi 23 mars 2015</td>
					<td>Mardi 24 mars 2015</td>
					<td>Mercredi 25 mars 2015</td>
					<td>Jeudi 26 mars 2015</td>
					<td>Vendredi 27 mars 2015</td>
				</tr>
				<tr>
					<td>8h00</td>
					<td rowspan="2" class="tableau_fill"><h2>Journal télévision</h2><h3>L'actualité de ces dernières 24heures</h3></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>8h30</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>9h00</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>9h30</td>
					<td rowspan="2" class="tableau_fill"><h2>Musique</h2><h3>Clips musicaux</h3></td>
					<td rowspan="2" class="tableau_fill"><h2>Musique</h2><h3>Clips musicaux</h3></td>
					<td class="tableau_fill"><h2>Musique</h2><h3>Clips musicaux</h3></td>
					<td class="tableau_fill"><h2>Musique</h2><h3>Clips musicaux</h3></td>
					<td class="tableau_fill"><h2>Musique</h2><h3>Clips musicaux</h3></td>
				</tr>
				<tr>
					<td>10h00</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>10h30</td>
					<td></td>
					<td class="tableau_fill"><h2>Journal télévision</h2><h3>L'actualité de ces dernières 24heures</h3></td>
					<td class="tableau_fill"><h2>Journal télévision</h2><h3>L'actualité de ces dernières 24heures</h3></td>
					<td class="tableau_fill"><h2>Journal télévision</h2><h3>L'actualité de ces dernières 24heures</h3></td>
					<td></td>
				</tr>
				<tr>
					<td>11h00</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>11h30</td>
					<td></td>
					<td></td>
					<td rowspan="3" class="tableau_fill"><h2>Allociné Faux raccord</h2><h3>Decryptage de films</h3></td>
					<td class="tableau_fill"><h2>Allociné Faux raccord</h2><h3>Decryptage de films</h3></td>
					<td></td>
				</tr>
				<tr>
					<td>12h00</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>12h30</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>13h00</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>13h30</td>
					<td></td>
					<td class="tableau_fill"><h2>Cinéma</h2><h3>Bandes annonces</h3></td>
					<td></td>
					<td></td>
					<td class="tableau_fill"><h2>Allociné Faux raccord</h2><h3>Decryptage de films</h3></td>
				</tr>
				<tr>
					<td>14h00</td>
					<td></td>
					<td class="tableau_fill"><h2>Allociné Faux raccord</h2><h3>Decryptage de films</h3></td>
					<td class="tableau_fill"><h2>Allociné Faux raccord</h2><h3>Decryptage de films</h3></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>14h30</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>15h00</td>
					<td></td>
					<td></td>
					<td></td>
					<td class="tableau_fill"><h2>Cinéma</h2><h3>Bandes annonces</h3></td>
					<td></td>
				</tr>
				<tr>
					<td>15h30</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>16h00</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>16h30</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>17h00</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>17h30</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>18h00</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>18h30</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>




{% endblock %}


