{% extends 'MmitvBackBundle::base.html.twig' %}

{% block main %}

{% block body -%}
    <h1>Modification de l'utilisateur</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('user') }}">
            Retourner à la liste
        </a>
    </li>
   {{ form(delete_form, {'attr': {'class': 'bouton_rouge'}}) }}
</ul>

{% endblock %}
{% endblock %}


