{% extends 'MmitvBackBundle::base.html.twig' %}

{% block main %}



            <h1>Gestion des utilisateurs</h1>

			<p>
				Créez ici de nouveaux utilisateurs et gérez les utilisateurs existants. Un utilisateur pourra utiliser cette interface d'administration et gérer les contenus.
			</p>

			<div class="bouton"><a href="{{ path('mmitv_back_utilisateurs_add') }}">Ajouter un utilisateur</a></div>


    {%  for user in user %}

			<div class="in_bloc_back">
				<h2>{{ user.username }}</h2>
				<h3>Rôle (admin/redacteur)</h3>
				<p>{{ user.email }}</p>
				<div class="bouton"><a href="">Modifier</a></div>
				<div class="bouton_rouge"><a href="">Supprimer</a></div>
			</div>
			{% else %}
			<p>Aucune utilisateurs n'a été trouvée.</p>
   {% endfor %}


{% endblock %}


