{% extends 'MmitvBackBundle::base.html.twig' %}

{% block main %}






            <h1>Votre interface d'administration</h1>

			<p>
				Bienvenue sur votre interface d'administration ! C'est ici que vous pourrez gérer l'ensemble de votre interface de diffusion vidéo. Vous pourrez ajouter de nouvelles vidéos, choisir leur date de diffusion et plus.
			</p>

			<p>
				En cas de besoin, consultez la <a href="{{ asset('bundles/mmitvback/assets/notice_mmitv.pdf')}}">notice d'utilisation de cette interface</a>.
			</p>


{% endblock %}


