{% extends 'MmitvBackBundle::base.html.twig' %}

{% block main %}






            <h1>Dashboard</h1>

			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde quidem voluptate, consequatur in nostrum sed, non harum rerum earum illum quisquam autem quasi iste eveniet et animi. Quas, officia, assumenda.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio error repellendus delectus suscipit reiciendis eos sed ullam earum blanditiis quaerat deserunt adipisci, saepe eius non unde debitis hic similique. Amet?
			</p>

			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut aliquam atque excepturi ipsam, beatae eaque molestiae repudiandae reiciendis enim laboriosam nobis ullam possimus minima, incidunt qui repellendus assumenda at suscipit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, harum necessitatibus labore consequatur nam culpa eum inventore quia, fugit laborum adipisci, error mollitia commodi sed officia, iure ab tempora. Delectus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores porro consectetur libero iure. Minima esse dolores quis eos sunt consequuntur, obcaecati maxime ratione adipisci, atque, provident sapiente nulla itaque officiis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde quidem voluptate, consequatur in nostrum sed, non harum rerum earum illum quisquam autem quasi iste eveniet et animi. Quas, officia, assumenda.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio error repellendus delectus suscipit reiciendis eos sed ullam earum blanditiis quaerat deserunt adipisci, saepe eius non unde debitis hic similique. Amet?
			</p>


{% endblock %}


