{% extends 'MmitvBackBundle::base.html.twig' %}

{% block main %}



            <h1>Animation Off-Air</h1>

			<p>
				Renseignez ici l'animation que vous souhaitez voir apparaitre sur les télévisions lorsqu'aucun programme n'est affiché.
			</p>


			{% if offairs is empty %}
				{{ form(form) }}
			{% endif %}


			{% for offair in offairs %}

				<div class="in_bloc_back">
					<h2>{{ offair.video }}</h2>
					<p></p>

					<div class="bouton_rouge"><a href="{{ path('mmitv_back_offair_delete', {id: offair.id}) }}">Supprimer</a></div>
				</div>


			{% endfor %}



{% endblock %}


